<%= form_for([@post, @post.comments.build]) do |f| %>
<div class="form-group">
	<%= f.text_field :name, placeholder: "Twoja nazwa", class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.text_area :body, placeholder: "Twój komentarz", class: 'form-control comment_box' %>
</div>
	<%= f.submit "Dodaj komentarz", class: 'button' %>
<% end %>
