<div class="row bucketlist">
  <h2>Bucketlist</h2>

  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 bucket_column">
    <div class="bucket_title">
      <h3>Fitness</h3>
    </div>
    <ul>
      <li><p class="done">Run a marathon</p></li>
      <li><p>Ultra run</p></li>
      <li><p>100 push-ups in one row</p></li>
      <li><p>150kg deadlift</p></li>
      <li><p>5min in plank</p></li>
      <li><p class="done">Run 100+km in one week</p></li>
      <li><p>20 pull-ups in one row</p></li>
      <li><p>Relax heart rate < 50BPM</p></li>
      <li><p>50 push-ups in one row</p></li>
      <li><p>Half-marathon < 1h45min </p></li>
      <li><p>Some survival race</p></li>
      <li><p>10 km < 45 min</p></li>
      <li><p>Ride 200km on bike in one day</p></li>
    </ul>

     <div class="bucket_title">
      <h3>Journey</h3>
    </div>
    <ul>
      <li><p>30 days in journey</p></li>
      <li><p>See Hong Kong</p></li>
      <li><p>Score 4000+m mountain</p></li>
      <li><p>Score 6000+m mountain</p></li>
      <li><p>See Eiffel Tower</p></li>
      <li><p>Use Underground in London</p></li>
      <li><p>Workout on Muscle Beach</p></li>
      <li><p>Walk Shibuya crossing</p></li>
      <li><p class="done">Hitchike to other country</p></li>
      <li><p class="done">Visit Prague</p></li>
      <li><p>Walk in Amsterdam</p></li>
      <li><p>Observe baloons in Capadocia</p></li>
      <li><p>Visit Rome</p></li>
      <li><p>Walk in every continent</p></li>
      <li><p>Hip-hop camp</p></li>
      <li><p class="done">Visit Albania</p></li>
      <li><p>See Machu Picchu</p></li>
      <li><p>Find magic bus from Into the Wild movie</p></li>
      <li><p>See Kangaroos in Australia</p></li>
      <li><p>Party in Bangkok</p></li>
      <li><p class="done">Visit Berlin</p></li>
      <li><p>Eat Ramen in Japan</p></li>
      <li><p>Run in Central Park</p></li>
      <li><p>Woodstock</p></li>
      <li><p>See Jesus statue in Rio</p></li>
      <li><p>Ride on bke to the other country</p></li>
      <li><p class="done">See Vienna from Vienna Prater</p></li>
      <li><p>Safari in Africa</p></li>
      <li><p>Use scooter in India</p></li>
      <li><p>See Dubai from Burj Khalifa</p></li>
      <li><p>Tomorrowland</p></li>
      <li><p>Use CouchSurfing</p></li>
      <li><p>Run Rocky steps in Philadelphia</p></li>
    </ul>

     <div class="bucket_title">
      <h3>Other</h3>
    </div>
    <ul>
      <li><p>Learn play on drums</p></li>
      <li><p>100% Spanish course in Duolingo</p></li>
      <li><p class="done">200+ contributions on github</p></li>
      <li><p>Make academic degree</p></li>
      <li><p>Buy motocycle</p></li>
      <li><p>Make tattoo</p></li>
      <li><p>Work in adventure for one year</p></li>
      <li><p>Write a book</p></li>
      <li><p>Learn play on ukulele</p></li>
      <li><p>Over 50 000 views in yt video</p></li>
      <li><p>Create comics</p></li>
      <li><p>Grow a beard</p></li>
      <li><p>Skydive</p></li>
      <li><p>Make my own beer</p></li>
      <li><p>Send message in bootle</p></li>
      <li><p>Earn money on journey from hobby</p></li>
      <li><p>Learn skatebording</p></li>
    </ul>
  </div>

</div>
