<div class="bucketlist">
  <h2>Bucketlist</h1>
    <hr>

  <div class="bucket_title">
    <h3>Fitness</h3>
  </div>
  <ul>
    <li><p>Marathon < 4h</p></li>
    <li><p>Ultra run</p></li>
    <li><p>Western States 100</p></li>
    <li><p>100 push-ups in one row</p></li>
    <li><p>200kg in deadlift</p></li>
    <li><p>5min in plank</p></li>
    <li><p>20 pull-ups in one row</p></li>
    <li><p>Relax heart rate < 50 BPM</p></li>
    <li><p>Triathlon</p></li>
    <li><p>Ironman Distance</p></li>
    <li><p>Some survival race</p></li>
    <li><p>10 km < 45 min</p></li>
    <li><p>Ride 200km on bike in one day</p></li>
  </ul>
  
   <div class="bucket_title">
    <h3>Jorney</h3>
  </div>
  <ul>
    <li><p>30 days in journey</p></li>
    <li><p>Watch Hong Kong</p></li>
    <li><p>Climb 6k+ mountain</p></li>
    <li><p>See Eiffel Tower</p></li>
    <li><p>Use underground in London</p></li>
    <li><p>Training on Muscle Beach</p></li>
    <li><p>Walk Shibuya crossing</p></li>
    <li><p class="done">Hitchike to other country</p></li>
    <li><p class="done">Visit Prague</p></li>
    <li><p>Chillout in Amsterdam</p></li>
    <li><p>Observe baloons in Capadocia</p></li>
    <li><p class="done">Visit Albania</p></li>
    <li><p>See Machu Picchu</p></li>
    <li><p>Watch kangaroos in Australia</p></li>
    <li><p>Party in Bangkok</p></li>
    <li><p class="done">Visit Berlin</p></li>
    <li><p>Eat Ramen in Japan</p></li>
    <li><p>Run in Central Park</p></li>
    <li><p>See Christ the Redeemer statue in Rio</p></li>
    <li><p>Fjords in Norway</p></li>
    <li><p>Ride bike to other country</p></li>
    <li><p class="done">See Vienna from Vienna Prater</p></li>
    <li><p>Safari in Africa</p></li>
    <li><p>Ride scooter in India</p></li>
    <li><p>See Dubai from Burj Khalifa</p></li>
    <li><p>Tomorrowland</p></li>
    <li><p>Use CouchSurfing</p></li>
    <li><p>Run Rocky steps in Philadelphia</p></li>
  </ul>
  
   <div class="bucket_title">
    <h3>Other</h3>
  </div>
  <ul>
    <li><p>Learn play in drums</p></li>
    <li><p>Complete 100% Spanish on Duolingo</p></li>
    <li><p>Earn 10 000+ $ on Udemy courses</p></li>
    <li><p>Skończyć studia</p></li>
    <li><p>Milion $ on account</p></li>
    <li><p>Buy motocycle</p></li>
    <li><p>Work and journey for one year</p></li>
    <li><p>Write book</p></li>
    <li><p>Learn play in ukulele</p></li>
    <li><p>Youtube video with 50 000+ views</p></li>
    <li><p>Parachuting</p></li>
    <li><p>Play in club like DJ</p></li>
    <li><p>Earn 100$ on selling music</p></li>
    <li><p>Earn for some journey selling photos online</p></li>
    <li><p>Learn skateboarding</p></li>
  </ul>
</div>
