<div class="bucketlist">
  <h2>Bucketlist</h1>
    <hr>

  <h3>Fitness</h3><hr>
  <ul>
    <li><p>Maraton < 4h</p></li>
    <li><p>Ultra run</p></li>
    <li><p>Western States 100</p></li>
    <li><p>100 pompek w jednym podejściu</p></li>
    <li><p>200kg w martwym ciągu</p></li>
    <li><p>10min plank</p></li>
    <li><p>30 podciągnięć w jednym podejściu</p></li>
    <li><p>Tętno spoczynkowe < 50 BPM</p></li>
    <li><p>Ukończyć triathlon</p></li>
    <li><p>Dystans Ironman</p></li>
    <li><p>Bieg z przeszkodami</p></li>
    <li><p>10 km < 45 min</p></li>
    <li><p>Przejechać 250km jednego dnia na rowerze</p></li>
    <li><p>Korona maratonów polskich</p></li>
  </ul>

  <hr><h3>Podróże</h3><hr>
  <ul>
    <li><p>30 dni w podróży</p></li>
    <li><p>Zobaczyć Hong Kong z zatoki Wiktorii</p></li>
    <li><p>Wejść na 6-tysięcznik</p></li>
    <li><p>Zobaczyć wieżę Eiffla</p></li>
    <li><p>Przejechać się stopem na pace samochodu</p></li>
    <li><p>Przejechać się metrem w Londynie</p></li>
    <li><p>Trening na Muscle Beach</p></li>
    <li><p>Przejść po skrzyżowaniu Shibuya</p></li>
    <li><p class="done">Pojechać stopem do innego kraju</p></li>
    <li><p class="done">Odwiedzić czeską Pragę</p></li>
    <li><p>Chillout w Amsterdamie</p></li>
    <li><p>Zobaczyć balony w Kapadocji</p></li>
    <li><p class="done">Odwiedzić Albanię</p></li>
    <li><p>Odwiedzić Machu Picchu</p></li>
    <li><p>Zobaczyć kangury w Australii</p></li>
    <li><p>Impreza w Bangkoku</p></li>
    <li><p class="done">Odwiedzić Berlin</p></li>
    <li><p>Zjeść sushi w Tokio</p></li>
    <li><p>Pobiegać w Central Parku</p></li>
    <li><p>Zobaczyć pomnik Jezusa w Rio</p></li>
    <li><p>Zobaczyć fiordy w Norwegii</p></li>
    <li><p>Pojechać rowerem do innego kraju</p></li>
    <li><p class="done">Zobaczyć Wiedeń z Vienna Prater</p></li>
    <li><p>Zobaczyć safari w Afryce</p></li>
    <li><p>Przejechać się skuterem w Indiach bez wypadku</p></li>
    <li><p>Zobaczyć Dubaj z Burj Khalifa</p></li>
    <li><p>Tomorrowland</p></li>
    <li><p>Skorzystać z CouchSurfingu</p></li>
    <li><p>Wbiec po schodach Rocky'ego w Filadelfii</p></li>
  </ul>

  <hr><h3>Inne</h3><hr>
  <ul>
    <li><p>Pracować jeden rok w podróży</p></li>
    <li><p>Zbudować Start-Up</p></li>
    <li><p>Nauczyć się grać na perkusji</p></li>
    <li><p>Rozmawiać w Ameryce Południowej po hiszpańsku</p></li>
    <li><p>Podwieść autostopowicza</p></li>
    <li><p>Zarobić 10 000+ na kursach Udemy</p></li>
    <li><p>Skończyć studia</p></li>
    <li><p>Zrobić tatuaż</p></li>
    <li><p>Milion na koncie</p></li>
    <li><p>Kupić motocykl</p></li>
    <li><p>Napisać ksiażkę, która będzie bestsellerem w Empiku</p></li>
    <li><p>Nauczyć się grać na ukulele</p></li>
    <li><p>Film na yt z 50 000+ wyświetleniami</p></li>
    <li><p>Skok spadochronowy</p></li>
    <li><p>Zagrać w klubie jako DJ</p></li>
    <li><p>Zarobić 100$ na sprzedaży muzyki</p></li>
    <li><p>Zarobić na podróż sprzedając swoje zdjęcia</p></li>
    <li><p>Nauczyć się skakać na desce</p></li>
  </ul>
</div>
