<div class="bucketlist">
  <h2>Bucketlist</h1>
    <hr>

  <h3>Fitness Goals</h3><hr>
  <ul>
    <li><p>Marathon < 4h</p></li>
    <li><p>Ultra run</p></li>
    <li><p>100 push-ups in one row</p></li>
    <li><p>Make 10min plank</p></li>
    <li><p>30 pull-ups in one row</p></li>
    <li><p>Morning heart rate < 50 BPM</p></li>
    <li><p>Finish first triathlon</p></li>
    <li><p>Finish Ironman triathlon</p></li>
    <li><p>Run 10k < 40 min</p></li>
    <li><p>Ride 250km on bike in one day</p></li>
    <li><p>Finish 5 marathons in 2 years</p></li>
  </ul>

  <hr><h3>Journey Goals</h3><hr>
  <ul>
    <li><p>30 days in journey</p></li>
    <li><p>Hitchike in USA</p></li>
    <li><p>Observe skyscrappers in Hong Kong</p></li>
    <li><p>See Eifel Tower</p></li>
    <li><p>Use underground in London</p></li>
    <li><p>Cross street in Shibuya</p></li>
    <li><p>Hitchike to other continent</p></li>
    <li><p class="done">Visit Praha</p></li>
    <li><p>Relax in Amsterdam</p></li>
    <li><p>Observe baloons in Capadocia</p></li>
    <li><p>Photo on Albania border</p></li>
    <li><p>See kangaroo in Australia</p></li>
    <li><p>Party in Bangkok</p></li>
    <li><p class="done">Visit Berlin</p></li>
    <li><p>See Jesus Statue in Rio</p></li>
    <li><p>Ride bike to other country</p></li>
    <li><p class="done">See Vienna from Vienna Prater</p></li>
    <li><p>Use scooter in India without accident</p></li>
    <li><p>See Dubai from Burj Khalifa</p></li>
    <li><p>Use CouchSurfing</p></li>
  </ul>

  <hr><h3>Personal Goals</h3><hr>
  <ul>
    <li><p>Work at least 1 year in travel</p></li>
    <li><p>TedX Talk</p></li>
    <li><p>Start make valuable YouTube videos</p></li>
    <li><p>Build Start-Up</p></li>
    <li><p>Use Spanish in Latin America</p></li>
  </ul>
</div>
