<div class="row message_value">
  <div class="col-sm-8 col-sm-offset-2 details">
    <% flash.each do |key, value| %>
      <div class="alert_message">
          <%= value %>
      </div>
    <% end %>

    <h2>I will try answer as fast as it's possible.</h2>
    <h2>Have a nice day.</h2>
  </div>
</div>
