<div class="row footer">
  <div class="col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-3 brand">
    <h4>SimpleDreams</h2>
  </div>
  <div class="col-md-1 hidden-xs"><a href="https://www.instagram.com/szymon.radosz/" target="_blank"><%= fa_icon "instagram", class:"social instagram" %></a></div>
  <div class="col-md-1 hidden-xs"><a href="https://github.com/RadoszSzymon" target="_blank"><%= fa_icon "github", class:"social github" %></a></div>
</div>

</div>
</div>
