<div class="container">
  <div class="jumbotron">
    <div class="row menu">
      <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1"><h4 class="brand"><%= link_to "SimpleDreams", root_path %></h2></div>
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-2 col-sm-2"><h4><%= link_to "Blog", posts_path %></h3></div>
      <div class="col-md-2 col-sm-2"><h4><%= link_to "Bucket List", about_path %></h3></div>
      <div class="col-md-2 col-sm-2"><h4><%= link_to "Contact", new_contact_path %></h3></div>
    </div>
