<!DOCTYPE html>
<html>
  <%= render 'layouts/head.html.erb' %>

  <body>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.7&appId=512793028918720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <%= render 'layouts/menu' %>

        <%= yield %>

    <%= render 'layouts/footer.html.erb' %>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <!-- scrool banner -->
    <script>
        //scrool between sections
        $(document).ready(function() {
          $("a").on('click', function(event) {
            if (this.hash !== "") {
              event.preventDefault();

              var hash = this.hash;

              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 1000, function(){
                window.location.hash = hash;
              });
            }
          });
      });
    </script>

    <!-- facebook plugins -->
    <div id="fb-root"></div>
  </body>
</html>
